<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title>Profile</title>
</head>
<body>
	<section th:fragment="content">
		<h2>Profile</h2>
		<p>
			<strong>First Name:</strong> <span th:text="${user.firstName}"></span>
		</p>
		<p>
			<strong>Last Name:</strong> <span th:text="${user.lastName}"></span>
		</p>
		<p>
			<strong>Email:</strong> <span th:text="${user.email}"></span>
		</p>
		<p>
			<strong>Phone Number:</strong> <span th:text="${user.phoneNumber}"></span>
		</p>

		<a th:href="@{/profile/edit}">Edit Profile</a>
		<form th:action="@{/profile/delete}" method="post">
			<button type="submit"
				onclick="return confirm('Are you sure you want to delete your account?');">Delete
				Account</button>
		</form>
		
		<form action="/profile/toggle-email-notifications" method="post">
			<button type="submit">
				<span
					th:text="${user.emailNotificationsEnabled} ? 'Disable Email Notifications' : 'Enable Email Notifications'"></span>
			</button>
		</form>

	</section>
</body>
</html>
